body {
  margin: 0px;
}
.top-bar {
  background-color: #4ac6d6;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  padding: 10px 0px;
}
.top-bar .top-bar-left span {
  margin: 0px 10px;
}
.top-bar .top-bar-right span {
  margin: 0px 7px;
}
.top-navbar {
  display: flex;
  justify-content: center;
}
nav #navbar-right-download-button {
  color: white;
  background-color: #4ac6d6;
  outline: none;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
}
#narbar-right-side-home {
  color: #4ac6d6;
  transition: 1s;
}
#narbar-right-side-other:hover {
  color: #4ac6d6;
}
#middle-picture {
  background: url(hero-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}
.middle-picture-text-part {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.middle-part-buttons-large {
  margin: 0px 15px;
}
.middle-part-buttons-small {
  display: none;
}
#middle-picture-top-text {
  color: #4ac6d6;
  font-size: 2em;
  font-weight: bolder;
}
#middle-picture-bottom-text {
  color: white;
  font-size: 3em;
  font-weight: bolder;
  text-align: justify;
}
#choose-zakra-text {
  color: #4ac6d6;
}
#feature-zakra-text {
  color: #4ac6d6;
}
#features-icon-style {
  font-size: 8em;
  color: white;
}
